.bukken{
  width:10%;
}

.price{
  width:10%;
}

.address{
  width:15%;
}
.old{
  width:3%;
}

.content{
  width:50%;
}

.show{
  width:1%;
}

.edit{
  width:1%;
}

.balse{
  width:1%;
}

.property{
  margin-left: 2%;
  margin-right: 2%;
}
